<h2>New Message</h2>


<%= form_for @message do |m| %>

	<%= m.label :countrycode, 'Country code' %>
	<%= m.number_field :countrycode %>
	<%= m.label :phonenumber, 'Phone number' %>
	<%= m.text_field :phonenumber %>
	<%= m.label :message %>
	<%= m.text_field :message %>
	<%= m.submit 'Send' %>

<% end %>
