<!DOCTYPE html>
<html>
<head>
  <title>Twil</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header>
		<div class="container">
			<div id="logo" class="two columns">
				<h3><a href='/'>TWIL</a></h3>
	    	</div>

	    	<div id="nav" class="fourteen columns">
	   		<ul>
				<% if current_user %>
				<li><%= link_to 'Sign Out', destroy_user_session_path %></li>

				<% else %>
				<li><%= link_to 'Sign Up', new_user_registration_path %></li>
				<li><%= link_to 'Sign In', new_user_session_path %></li>

				<% end %>
			</ul>
			 </div>
		</div>
	</header>

		<div class="container">

			<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>
			<%= yield %>
		
		</div>
</body>
</html>
